@model DadosDoEmprestimo
<br />
<div class="jumbotron">
  <h1 class="display-3">Olá, xxxx!</h1>
  <p class="lead">Nesta página poderá gerenciar seus emprestimos</p>
  <hr class="my-4">

    <div class="card text-white bg-primary mb-3">
        <div class="card-header">Amigos <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Amigos">Adicionar</a></div>
        <div class="card-body">
            <h4 class="card-title">Quais são seus amigos?</h4>
             <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Início da Amizade</th>
                        <th scope="col">Jogos Emprestados</th>
                        <th scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in Model.Amigos) {
                    <tr scope="row">
                        <td>@row.Nome
                        </td>
                        <td>@row.InicioDaAmizade
                        </td/>
                        <td>@row.JogosEmprestados
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#remover" data-url="@this.Url.Action("RemoverAmigo", "Principal")" data-id="/@row.AmigoId">
                            Remover
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3">
        <div class="card-header">Meus jogos <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Jogo">Adicionar</a></div>
        <div class="card-body">
            <h4 class="card-title">Quais seus jogos?</h4>
             <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Sistema</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in Model.MeusJogos) {
                    <tr scope="row">
                        <td>
                            @row.Nome
                        </td>
                        <td>
                            @row.Sistema
                        </td/>
                        <td>
                            @row.Ano
                        </td>
                        <td>
                           @row.Status
                        </td>
                         <td>
                            <a asp-action="Editar" asp-controller="Jogo" asp-route-id="@row.JogoId" class="btn btn-warning btn-block">Editar</a>
                          <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#remover" data-url="@this.Url.Action("RemoverJogo", "Principal" )" data-id="/@row.JogoId">
                            Remover
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card text-white bg-primary mb-3">
        <div class="card-header">Jogos Emprestados</div>
        <div class="card-body">
            <h4 class="card-title">Quais seus jogos?</h4>
             <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Amigo</th>
                        <th scope="col">Sistema</th>
                        <th scope="col">Devolver</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in Model.JogosEmprestados) {
                    <tr scope="row">
                        <td>
                            @row.Nome
                        </td>
                        <td>
                            @row.Amigo
                        </td/>
                        <td>
                            @row.Sistema
                        </td>
                         <td>
                            <button type="button" class="btn btn-danger btn-block">Devolver</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="remover" tabindex="-1" role="dialog" aria-labelledby="removerCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remover">Deseja mesmo remover?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Após a remoção não poder ser mais desfeito!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="POST" action="">

        <button type="submit" class="btn btn-danger">Remover</button>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {

<script>
    $('#remover').on('show.bs.modal', function(evt){
        var button = $(evt.relatedTarget);
        var url = button.data('url');
        var id = button.data('id');

        var modal = $(this);
        console.log(modal.find('form')[0]);
        $(modal.find('form')[0]).attr('action',url + id);
    });
</script>
}